* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  .collapse{
  margin-top: -30px;
  margin-left: 840px;
  }
  header {
    background-color: #f1f1f1;
    
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f0f0f0;
    box-shadow: 0px 2px 4px #ffffff1a;
    background-color: #ffffff;
    height: 100px;
  
   
  
  }
  .logo {
    display: flex;
    align-items: center;
   
   
  }
  .logo-text{
    font-size: 30px;
    display: inline-block;
    margin-right: 10px;
    color: #333333;
  }
  .navbar-brand {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #333333;
  }
  
  .navbar-nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 10px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    padding: 10px;
    transition: all 0.3s ease;
  }
  
  .nav-link:hover {
    background-color: #81B3D7;
    color: #FFFFFF;
    border-radius: 5px;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #81B3D7;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .dropdown-item {
    display: block;
    color: #333333;
    padding: 5px;
    transition: all 0.3s ease;
  }
  
  .dropdown-item:hover {
    background-color: #6497BC;
    color: #FFFFFF;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .logo-text span {
    font-style: normal;
    color:#77EBCA ;
    font-weight: bold;
  }







  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}
h1{
    text-align: center;
    color: #000000;
    margin-top: 40px;
    margin-bottom: 40px;
}

.bebek-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin: 50px auto;
}

.bebek-container div {
    width: calc(50% - 10px);
    max-width: 700px;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.bebek-container img {
  margin-top: 20px;
    width: 170px;
    height: 170px;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.bebek-container p {
    margin-top: 20px;
    line-height: 1.6;

}
.sola-kaydir{
    float:left;
    padding:0 10px 10px 0;
    }

.div1 {
    background-color: #f9edb6;
}

.div2 {
    background-color: #d3e7b6;
}

.div3 {
    background-color: #FFD6E1;
}

.div4 {
    background-color: #c1d7f7;
}

.div5 {
    background-color: #ffde8b;
}
.div6 {
  background-color: #fff7c6;
}

.div7 {
  background-color: #d3e7b6;
}

.div8 {
  background-color: #d8c9d7;
}

.div9{
  background-color: #c1d7f7;
}

.div10 {
  background-color: #ffde8b;
}
.div11{
  background-color: #ffbcea;
}

.div12 {
  background-color: #b8b8b8;
}
